<footer class="footer">
  <small>
    <a href="https://github.com/andyyj/cointoss">Cointoss</a>
    by <a href="emailto:anand@stadiumgoods.com">Anand Joshi</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", root_path %></li>
      <li><%= link_to "Contact", root_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>